<h1>Cocktails</h1>
<div class="d-flex">

    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-card">
        <div class ="cocktail-info">
          <%= cocktail.name %>
        </div>
      </div>
    <% end %>
</div>
<%= link_to 'Create a new cocktail', cocktails_new_path %>
