<div class="container">
  <h1>Cocktails</h1>
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
    <div class="cocktail-card">

      <div class ="cocktail-info">
        <h3><%= cocktail.name %></h3>
      </div>
      <div class="cocktail-card-img">
        <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg" alt="" class="cocktail-img"> -->
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

</div>
