.cocktail-card {
  display: flex;
  flex-direction: row-reverse;
  background-size: cover;
  background-position: center;
  color: white;
  height: 180px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  .cocktail-img {
    position: absolute;
    background: blue;
    height: 30px;
    width: 30px;
  }
  .cocktail-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    width: 35%;
    padding-right: 25px
  }
}

